body {
  background-color: #07070a;
  margin: 0;
}

header {
  background-color: #646464;
  text-align: center;
  padding: 10px;
  margin-top: 0;
  border-bottom: 2px, solid, #ff9200;
}

h1 {
  color: #ff9200;
  font-size: 50px;
  padding: 0;
  font-weight: 900;
  margin: 0;
}

#buy-sell-buttons {
  display: flex;
  justify-content: space-around;
}

.top-btn {
  font-size: 20px;
}

#filter {
  text-align: center;
  padding: 10px;
  color: white;
}

.card {
  background-color: #646464;
  width: 250px;
  text-align: center;
  border-radius: 12px;
  margin: 10px;
  padding: 0;
}

#cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.card img {
  width: 250px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card ul {
  margin: 0;
}

#ul-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: left;
}

#ul-div ul {
  width: 85px;
}

#buy-or-sell {
  display: flex;
  justify-content: center;
}

.sale-form {
  background-color: #646464;
  display: inline-block;
  width: 300px;
  align-self: center;
}

.sale-form h2 {
  text-align: center;
}

.sale-form form input {
  width: 292px;
  margin-bottom: 5px;
}

.detail-card {
  background-color: #646464;
  max-width: 600px;
  text-align: center;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  margin: 10px;
  padding: 0;
}

.detail-card img {
  max-width: 600px;
  width: 100%;
}
